<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project2_FINAL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D1F42D5D1BC221A3000E9A7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1F42D711BC221A3000E9A7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1F42D7C1BC221A4000E9A7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
